<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="estilo.css" type="text/css">
</head>
<body>
    <div id="corpo">
        <div id="topo">
            <header>
                <nav>
                    <a href="">Home</a> |
                    <a href="">Sobre</a>
                </nav>
            </header>
        </div>
        <div id="conteudo">
            {{area_dinamica}}
        </div>
    </div>
</body>
</html>